# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.vscode/
#data/*
data/testAirport_dist.json
output/
output*
runs/
models/
lib/
core
errormemo.txt
print_attribute.py
todo.txt
version.py
todo.md
README.md
import.py
metrics.py
key.py
out_label_list.txt
preds_list.txt
stdout_bert_squad_sh.txt
company_matigai.json
error_saigen_unicode.py
error_saigen_unicode_stdout.txt
teratail.py
unicode.py
print_epoch.sh
sleep.py
teshget_epoch.py
test_liner_to_dict.py
make_cache.sh
bert_token_embeddings.py
make_attr_count.py
make_attr_count.sh
make_cache2.sh
make_cache3.sh
test_json.py
test_readID.py
test_reduce_kakunin.py
token_embeddings.png