# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.vscode/
shinra_jp_scorer/
shinra_jp_scorer/*
data/*
output/
output*
runs/
models/
lib/
shinra_jp_scorer/
core
errormemo.txt
print_attribute.py
todo.txt
version.py
todo.md
README.md
import.py
metrics.py
key.py
out_label_list.txt
preds_list.txt
stdout_bert_squad_sh.txt
company_matigai.json
error_saigen_unicode.py
error_saigen_unicode_stdout.txt
teratail.py
unicode.py
print_epoch.sh
sleep.py
teshget_epoch.py
test_liner_to_dict.py